{# Шаблон страницы услуг #}
{% extends "layouts/base-with-sidebar.twig" %}

{% block content %}
	{# Заголовок услуги #}
	<h1>{{ post.title }}</h1>

	{# Содержание услуги (описание) #}
	<span class="service__description">
		<p>{{ post.service_description }}</p>
	</span>

	{# Промо текст #}
	{% if (post.service_promo_info) %}
	<h3 class="text-red">
		{{ post.service_promo_info }}
	</h3>
	{% endif %}

	{# id для объединения соседних галлерей #}
	{% set gallery_set_id = 0 %}

	{# Блоки #}
	{% for block in post.meta('service_blocks') %}

		{# Заголовок блока #}
		<div class="work-head">
			<div class="work-head__content">
				<div class="work-head__number">
					{{ loop.index }}
				</div>

				<div class="work-head__header">
					<div class="work-head__title">
						{{ block.service_block_title }}
					</div>
					{% if (block.service_block_subtitle) %}
					<div  class="work-head__subtitle">
						&nbsp;—&nbsp;{{ block.service_block_subtitle }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		{# Описание блока #}

		<div class="work-description">
		{{ block.service_block_description }}
		</div>
		{# Контент блока #}
		{% if (block.service_block_type == 'default') %}
			{% include '/partials/services/blocks/default-type.twig' %}

		{% elseif (block.service_block_type == 'advantages') %}
			{% include '/partials/services/blocks/advantages-type.twig' with block %}

		{% elseif (block.service_block_type == 'galleries') %}
			{% include '/partials/services/blocks/galleries-type.twig' %}

		{% elseif (block.service_block_type == 'nested') %}
			{% include '/partials/services/blocks/nested-type.twig' %}

		{% elseif (block.service_block_type == 'goods') %}
			{% include '/partials/services/blocks/goods-type.twig' %}
		{% endif %}

		{# Следующий id для соседних галлерей #}
		{% if (block.service_block_type != 'galleries') %}
			{% set gallery_set_id = gallery_set_id + 1 %}
		{% endif %}

	{% endfor %}
{% endblock %}

{% block footer_scripts %}
	{# Light Gallery #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-relative-caption.min.css" integrity="sha512-Tmsr0HjMvS/ReZR65bmX26m60EJjZw5AAKpnkPouiNfRqwIficKDk6x6/B3I8XdPfhTAVhGX7MkLrqZTGUn4og==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js" integrity="sha512-dSI4QnNeaXiNEjX2N8bkb16B7aMu/8SI5/rE6NIa3Hr/HnWUO+EAZpizN2JQJrXuvU7z0HTgpBVk/sfGd0oW+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{{ theme.link }}/assets/js/galleries.js"></script>
	<script src="{{ theme.link }}/assets/js/nested-blocks.js"></script>
	<script src="{{ theme.link }}/assets/js/sliders.js"></script>
{% endblock %}
