{% for gallery in Post(block.service_block_galleries) %}
	<div id="{{ gallery.id }}" style="margin-bottom: 1.5rem;" class="gallery">
		<div class="title-time">
			{{ gallery.title }}
			<span>// {{ gallery.date | date('F Y') }}</span>
		</div>

		<div class="slider-items__block">
			<div class="swiper-arrow swiper-button-prev"></div>
			<div class="slider-items swiper">
				<div class="swiper-wrapper">

				{# Изображения галереи  #}
				{% for photo in gallery.meta('photos') %}
					<div class="swiper-slide">
						<div
							class="swiper-slide__pic"
							data-src="{{ Image(photo) | towebp }}"
							data-sub-html=".caption"
						>
							<img
								src="{{ photo.sizes.large | resize(300, 200) | towebp }}"
								alt="{{ photo.alt }}"
							/>
							<div class="caption" style="display:none">
								<h4>{{ gallery.title }}</h4>
								<p>{{ gallery.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="swiper-arrow swiper-button-next"></div>
		</div>

		{# Описание галереи #}
		<div class="content-lazy">
			<div class="content-block">
				{{ gallery.description }}
			</div>
			<div class="content-hidden"></div>
			<div class="content-btn">Подробнее<span class="icon-arrow-right"></span></div>
		</div>
	</div>
{% endfor %}

<button id="load-more" title="Показать ещё" class="btn btn_purple">Показать ещё</button>
