
{% set startGalleryCount = 2 %}
{% for gallery in Post(block.service_block_galleries) %}
	<div id="{{ gallery.id }}" gallery-set-id="{{ gallery_set_id }}" style="margin-bottom: 1.5rem;" class="gallery{{ loop.index > startGalleryCount ? ' hidden' : '' }}">
		<div class="title-time">
			{{ gallery.title }}
			<span>// {{ gallery.date | date('F Y') }}</span>
		</div>

		<div class="gallery-slider">
			<div class="gallery-slider__items">
				{# Изображения галереи  #}
				{% for photo in gallery.meta('photos') %}
					<div class="gallery-slider__item">
						<div
							class="gallery-slider__image"
							data-src="{{ Image(photo) | towebp }}"
							data-sub-html=".caption"
						>
							<div class="gallery-slider__image__wrapper">
								<img
									src="{{ photo.sizes.large | towebp }}"
									alt="{{ photo.alt }}"
								/>
							</div>
							<div class="caption" style="display:none">
								<h4>{{ gallery.title }}</h4>
								<p>{{ gallery.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		{# Описание галереи #}
		<div class="content-lazy">
			<div class="content-block">
				{{ gallery.description }}
			</div>
			<div class="content-hidden"></div>
			<div class="content-btn">Подробнее<span class="icon-arrow-right"></span></div>
		</div>
	</div>
{% endfor %}

{% if block.service_block_galleries|length > startGalleryCount %}

<button id="load-more" title="Показать ещё" class="btn btn_purple" gallery-set-id="{{ gallery_set_id }}">Показать ещё</button>

{% endif %}